*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}
[class*='col-']{
    float: left;
}
.container{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.h-30{height: 30px;}
.h-50{height: 50px;}
.h-100{height: 100px;}
.h-150{height: 150px;}
.h-200{height: 200px;}
.h-300{height: 300px;}
.h-400{height: 400px;}
.h-500{height: 500px;}
.h-600{height: 600px;}

div ul li a{
    text-decoration: none;
    color: white;
    
}
div ul{
    display: flex;
    justify-content:left;
    font-size: 20px;
    margin-bottom: 5%;
    margin-left: 25%;
   
    
}
div ul li{
    list-style-type: none;
    padding: 30px;
}
div ul li a{
    padding: 5px;
    font-weight: bold;
}
div ul li a:hover{
    background-color:white ;
    color: black;
    transition: .6s;
    border-radius: 50px;
}
div h1{
    /* margin-left: -100%;
    margin-top: 70%;
    margin-bottom: 20%; */
    color: white;
}
.btn{
    margin-left: -800%;
    width: 80%;
    height:10%;
    border-radius: 10px;
    font-weight: bold;
} 
.btn:hover{
    background-color: maroon;
    color: white;
    transition: .6s;
    font-size: 14px;
}
.row, .col-8{
    background-color: black;
    display: flex;
    border-radius: 42% 80% 0% 100% / 0% 0% 10% 70%;
    /* border-radius: 100% 0% 41% 59%/0% 100% 0% 100%; */
   
}
.col-8{
    margin-bottom: 6%;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(140, 145, 148, 0.5)
      ), url("pic 1.png");
      background-repeat: no-repeat;
      background-position: right top;
      margin-left: 40%;
     
}

img{
    margin-top: 10%;
    border-radius: 0% 0% 0% 50%;
    margin-left: 10%;
    opacity: .6;
    /* background-image: linear-gradient(
    to right top,
    rgba(255, 255, 0, 0.5),
    rgba(0, 0, 255, 0.5)
  ), url("pic 1.png"); */
}
img:hover{
    opacity: 1;
}
.row{
    margin-bottom: 8%;
}
.row1{
    display: flex;
    justify-content: space-between;
}
#h2p{
    text-align: center;
    color: white;
}
#h2p h2{
    margin-top: 10%;
    text-align: left;
    margin-left: 3rem;
}
#h2p p{
    text-align: justify;
    padding: 10%;
    margin-top: 3%;
}
.col-5 {
    background-color: black;
    border-radius: 0% 75% 0% 0% / 0% 53% 10% 10% ;
}
.col-7{
    margin-top: 5%;
    margin-left: 15%;
    display: block;
}

.ftr{
    background-color: black;
    width: 100%;
    height: 300;
}
.box div{
    background-color: black;
}
.col-1 .btn1 div{
    color: black;
    background-color: rgb(231, 215, 215);
    border-width: 10px;
    border-radius: 10px;
}
.col-1 .btn1 p{
    text-align: center;
    font-weight: bold;
}
.col-1 .btn1 p:hover{
   background-color: white;
   color: black;
   transition: 1s;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}
[class*='col-']{
    float: left;
}
.container{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.h-30{height: 30px;}
.h-50{height: 50px;}
.h-100{height: 100px;}
.h-150{height: 150px;}
.h-200{height: 200px;}
.h-300{height: 300px;}
.h-400{height: 400px;}
.h-500{height: 500px;}
.h-600{height: 600px;}

div ul li a{
    text-decoration: none;
    color: white;
    
}
div ul{
    display: flex;
    justify-content:left;
    font-size: 20px;
    margin-bottom: 5%;
    /* margin-left: 25%; */
   
    
}
div ul li{
    list-style-type: none;
    padding: 25px;
}
div ul li a{
    padding: 5px;
    font-weight: bold;
}
div ul li a:hover{
    background-color:white ;
    color: black;
    transition: .6s;
    border-radius: 50px;
}
div h1{
    margin-left: -480%;
    margin-top: 55%;
    margin-bottom: 20%;
    color: white;
}
.btn{
    margin-left: -480%;
    width: 80%;
    height:10%;
    border-radius: 10px;
    font-weight: bold;
} 
.btn:hover{
    background-color: maroon;
    color: white;
    transition: .6s;
    font-size: 14px;
}
.row, .col-8{
    background-color: black;
    display: flex;
    border-radius: 42% 80% 0% 100% / 0% 0% 10% 70%;
    /* border-radius: 100% 0% 41% 59%/0% 100% 0% 100%; */
   
}
.col-8{
    margin-bottom: 6%;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(140, 145, 148, 0.5)
      ), url("pic 1.png");
      background-repeat: no-repeat;
      background-position: right top;
      margin-left: 40%;
     
}

img{
    margin-top: 10%;
    border-radius: 0% 0% 0% 50%;
    margin-left: 10%;
    opacity: .6;
    /* background-image: linear-gradient(
    to right top,
    rgba(255, 255, 0, 0.5),
    rgba(0, 0, 255, 0.5)
  ), url("pic 1.png"); */
}
img:hover{
    opacity: 1;
}
.row{
    margin-bottom: 8%;
}
.row1{
    display: flex;
    justify-content: space-between;
}
#h2p{
    text-align: center;
    color: white;
}
#h2p h2{
    margin-top: 10%;
    text-align: left;
    margin-left: 3rem;
}
#h2p p{
    text-align: justify;
    padding: 10%;
    margin-top: 3%;
}
.col-5 {
    background-color: black;
    border-radius: 0% 75% 0% 0% / 0% 53% 10% 10% ;
}
.col-7{
    margin-top: 5%;
    margin-left: 15%;
    display: block;
}

.ftr{
    background-color: black;
    width: 100%;
    height: 300;
}
.box div{
    background-color: black;
}
.col-1 .btn1 div{
    color: white;
    background-color: rgb(0, 0, 0);
    border-width: 20px;
    height: 40px;
    border-radius: 10px;
}
.col-1 .btn1 div p{
    text-align: center;
    font-weight: bold;
    height: 40px;
    padding: 5px;
}
.col-1 .btn1 div p:hover{
   background-color: white;
   color: black;
   border: 1px solid black;
   border-radius: 10px;
}

